h1#site-title {
  color: black;
  background-color: white;
  font-family: verdana;
  font-size: 60px;
  text-align: center;
}
.main-content {
  background-color: lightblue;
}

article figure {
  width: 50%;
  margin: auto;
  border: 0px solid black;
  padding: 0px;
}

.site-menu {
  display: flex;
  background-color: lightskyblue;
  padding-right: 5px;
  border: 5px solid black;
}


@media all and (min-width: 768px){
.main-container {
  display: flex;
  max-width: 960px;
  margin: auto;
}

.site-menu {
  display: flex;
  width: 20%;
  background-color: lightskyblue;
  padding-right: 5px;
  border: 5px solid black;
}

.site-menu,
.main-content {
  float: left;
  }

.main-content {
  width: 80%;
  background-color: lightblue;
  border: 5px solid black;
  border-left: 0px;
}}


h1#article-title {
  text-align: center;
  font-size: 36px;
  font-family: verdana;
  color: black;
}

h2 {
  color: black;
  font-family: verdana;
  font-size: 24px;
  margin-left: 38px;
}

article header p {
  color: black;
  font-family: verdana;
  font-size: 24px;
  text-align: left;
}

nav ul {
  background-color;
  list-style: none;
  width: 200px;
  padding: 0px;
}


nav ul li {
  padding: 5px;
}

nav ul li:last-child {
  border-bottom: none;
}

nav ul li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

nav ul li a:hover {
  font-style: italic;
}

img {max-width: 100%;
height: auto;
}


article figure {
  width: 90%;
  border: 2px solid black;
  padding: 5px;
  margin-top: 10px;
  object-position: center;
}

article figure img {
  width: 100%;
  height: auto;
  margin-bottom: 0px;
}

article p {
  font-family: verdana;
  color: black;
  text-align: left;
  padding: 0px;
  margin-left: 0px;
  padding-bottom: 0px;
  display: flex;
}

.collapsible {
  background-color:lightblue;
  color: black;
  cursor: pointer;
  padding: 5px;
  width: 100%;
  border: 0px solid black;
  text-align: center;
  outline: none;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: bold;
  font-size: 18px;
  }

.active, .collapsible:hover {
  background-color: lightskyblue;
}

.gamelist {
  padding: 0 18px;
  font-size: 18px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  display: none;
  overflow: hidden;
  background-color: lightblue;
  max-height: 0;
  transition: max-height 1s ease-out;
}
li {
padding: 5px;
}

article p img {
  width: 50%;
  height: 50%;
  overflow: none;
  border: 5px solid black;
  margin-right: 15px;
  margin-bottom 7px;
  display: none;
}

h3 {
  font-size: 24px;
  padding-top: 10px;
  line-height: 0px;
  padding-left: 10px;
}

div#footer {
  position: fixed;
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  overflow: auto;
  padding: 10px;
  margin-bottom: 15px;
  opacity: 0.65;
}
#footer a {;
color: white;}

@media all and (min-width: 768px){
.HeadingCaption {
  color: black;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  object-position: center;
}
}
