h1 {color: darkred;
  font-family: verdana;
  font-size: 60px;
  font-style: oblique;
  }

h2 {color: darkred;
  font-family: verdana;
  font-size: 50px;
  font-style: oblique;
  margin-left: 38px}

article header p {color: indigo;
  font-family: verdana;
  font-size: 24px;
  text-align: left;}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0px;
  border: 5px solid indigo;
}

nav ul li {
  }

nav ul li a {
  color: MediumVioletRed;
  background-color: black;
  text-decoration: none;
  padding: 8px;
  bottom-border: 5px solid: indigo;
  display: block;
}

nav ul li a:hover {
  display: block;
  background-color: indigo;
}

article figure {width: 300px;
  border: 3px solid black;
  padding: 5px;}

article figure img {width: 100%;
margin-bottom: 12px;}

article figure figcaption {font-style: oblique;}

article p {background: lightblue;
  font-family: verdana;
  text-align: left;
  margin-left: 38px;
  width: 300px;}

article p img {max-width: 60%;
float: right;
border: 5px solid blue;
margin-left: 10px;
margin-bottom 20px;}
